<header class="mt-4 px-4 text-4xl font-bold flex">
  <h1 class="font-bold uppercase bg-pink">
    <span class="text-yellow-400">Xtreme</span>
    <span class="text-gray-400">game dev</span>
  </h1>
</header>