<main class="bg-white rounded shadow-2xl">
  <div class="px-4">
    {% include "games/game.header.njk" %}
    <div class="flex my-6 py-4">
      <div class="w-1/4">
        <div class="font-bold text-xl text-gray-400 py-2 uppercase">
          Ranking
        </div>
        {% include "games/game.scores.njk" %}
      </div>
      <div class="w-1/2 px-4">
        <div class="font-bold text-xl text-gray-400 py-2 uppercase">
          Evolution
        </div>
        {% include "games/game.chart.njk" %}
      </div>
      <div class="w-1/4">
        <div class="font-bold text-xl text-gray-400 uppercase">
          Jobs
        </div>
        {% include "games/game.jobs.njk" %}
      </div>
    </div>
  </div>
</main>