<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="bg-gray-100 flex flex-col min-h-screen w-full">
      <div class="container mx-auto">
        <div>{% include "header.njk" %}</div>
        <div>
          {{ content | safe }}
        </div>
        <div>{% include "footer.njk" %}</div>
      </div>
    </div>
  </body>
</html>