---
layout: layouts/main.layout.njk
---
<script type="text/javascript" src="rxjs.6.5.5.js" charset="utf-8"></script>
<script type="text/javascript" src="chart.2.9.3.js" charset="utf-8"></script>
{% include "games/main.njk" %}
<script type="text/javascript" src="index.js" charset="utf-8"></script>