---
layout: layouts/main.layout.njk
---
<main class="bg-white rounded shadow-2xl">
  <div class="px-4">
    <div class="flex my-6 py-4">
      <div class="w-1/4">
        <ul>
          <li><a href="game">Game</a></li>
          <li><a href=".netlify/functions/status">Status</a></li>
          <li><a href=".netlify/functions/hello?name=world">Hello world</a></li>
        </ul>  
      </div>
      <div class="w-1/2 px-4">
        <h2>Concept du jeu</h2>
      </div>
      <div class="w-1/4">
        <h2>Parties en cours</h2>
      </div>
    </div>
  </div>
</main>